<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ezstudies.app">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EzStudies" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library android:name="com.google.android.maps" />
        
        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activities.Overview"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activities.Welcome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Agenda"
            android:label="@string/agenda"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".activities.Homeworks"
            android:label="@string/homeworks"
            android:exported="true" />
        <activity
            android:name=".activities.Settings"
            android:label="@string/settings" />
        <activity
            android:name=".activities.MyMapView"
            android:label="@string/map" />
        <activity
            android:name=".activities.CourseEditor"
            android:label="@string/course_editor" />

        <service android:name=".services.GPS" />
        <service android:name=".services.Login" />
        <service android:name=".services.RouteCalculator" />
        <service android:name=".services.AlarmSetter" />
        <service android:name=".services.UpdateChecker" />

        <receiver
            android:name=".activities.Agenda$NotificationReceiver"
            android:enabled="true" />
        <receiver
            android:name=".activities.Homeworks$NotificationReceiver"
            android:enabled="true" />
        <receiver
            android:name=".AlarmRestorer"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>